
/*

## padding-8
```
<div class="testbox1 padding-8">
  hello
</div>
```
## color scheme
*/

.padding-8{
  padding: 8px
}

.padding-16{
  padding: 16px
}
/* teal */
.color-teal-500  { color: #009688; }
.color-teal-50   { color: #E0F2F1; }
.color-teal-100  { color: #B2DFDB; }
.color-teal-200  { color: #80CBC4; }
.color-teal-300  { color: #4DB6AC; }
.color-teal-400  { color: #26A69A; }
.color-teal-500  { color: #009688; }
.color-teal-600  { color: #00897B; }
.color-teal-700  { color: #00796B; }
.color-teal-800  { color: #00695C; }
.color-teal-900  { color: #004D40; }
.color-teal-A100 { color: #A7FFEB; }
.color-teal-A200 { color: #64FFDA; }
.color-teal-A400 { color: #1DE9B6; }
.color-teal-A700 { color: #00BFA5; }

/* Font Size */
.font-size-10 { font-size: 10px; }
.font-size-12 { font-size: 12px; }
.font-size-14 { font-size: 14px; }
.font-size-16 { font-size: 16px; }
.font-size-18 { font-size: 18px; }
.font-size-20 { font-size: 20px; }
.font-size-22 { font-size: 22px; }
.font-size-24 { font-size: 24px; }
.font-size-26 { font-size: 26px; }
.font-size-28 { font-size: 28px; }

/* table */
.table { display: table; width: 100%; height: 100%; margin: 0; }
.table-cell-middle { display: table-cell; vertical-align: middle; }

/* ------------------------------- */
/* Color Theme                     */
/* ------------------------------- */

/* Background */
/* white */
.bg-white { background-color: #FFFFFF; }

/* black */
.bg-black { background-color: #000000; }

/* blue-grey */
.bg-blue-grey-500 { background-color: #607D8B; }
.bg-blue-grey-50  { background-color: #ECEFF1; }
.bg-blue-grey-100 { background-color: #CFD8DC; }
.bg-blue-grey-200 { background-color: #B0BEC5; }
.bg-blue-grey-300 { background-color: #90A4AE; }
.bg-blue-grey-400 { background-color: #78909C; }
.bg-blue-grey-500 { background-color: #607D8B; }
.bg-blue-grey-600 { background-color: #546E7A; }
.bg-blue-grey-700 { background-color: #455A64; }
.bg-blue-grey-800 { background-color: #37474F; }
.bg-blue-grey-900 { background-color: #263238; }

/* grey */
.bg-grey-500 { background-color: #9E9E9E; }
.bg-grey-50  { background-color: #FAFAFA; }
.bg-grey-100 { background-color: #F5F5F5; }
.bg-grey-200 { background-color: #EEEEEE; }
.bg-grey-300 { background-color: #E0E0E0; }
.bg-grey-400 { background-color: #BDBDBD; }
.bg-grey-500 { background-color: #9E9E9E; }
.bg-grey-600 { background-color: #757575; }
.bg-grey-700 { background-color: #616161; }
.bg-grey-800 { background-color: #424242; }
.bg-grey-900 { background-color: #212121; }

/* brown */
.bg-brown-500 { background-color: #795548; }
.bg-brown-50  { background-color: #EFEBE9; }
.bg-brown-100 { background-color: #D7CCC8; }
.bg-brown-200 { background-color: #BCAAA4; }
.bg-brown-300 { background-color: #A1887F; }
.bg-brown-400 { background-color: #8D6E63; }
.bg-brown-500 { background-color: #795548; }
.bg-brown-600 { background-color: #6D4C41; }
.bg-brown-700 { background-color: #5D4037; }
.bg-brown-800 { background-color: #4E342E; }
.bg-brown-900 { background-color: #3E2723; }

/* deep orange */
.bg-deep-orange-500  { background-color: #FF5722; }
.bg-deep-orange-50   { background-color: #FBE9E7; }
.bg-deep-orange-100  { background-color: #FFCCBC; }
.bg-deep-orange-200  { background-color: #FFAB91; }
.bg-deep-orange-300  { background-color: #FF8A65; }
.bg-deep-orange-400  { background-color: #FF7043; }
.bg-deep-orange-500  { background-color: #FF5722; }
.bg-deep-orange-600  { background-color: #F4511E; }
.bg-deep-orange-700  { background-color: #E64A19; }
.bg-deep-orange-800  { background-color: #D84315; }
.bg-deep-orange-900  { background-color: #BF360C; }
.bg-deep-orange-A100 { background-color: #FF9E80; }
.bg-deep-orange-A200 { background-color: #FF6E40; }
.bg-deep-orange-A400 { background-color: #FF3D00; }
.bg-deep-orange-A700 { background-color: #DD2C00; }

/* orange */
.bg-orange-500  { background-color: #FF9800; }
.bg-orange-50   { background-color: #FFF3E0; }
.bg-orange-100  { background-color: #FFE0B2; }
.bg-orange-200  { background-color: #FFCC80; }
.bg-orange-300  { background-color: #FFB74D; }
.bg-orange-400  { background-color: #FFA726; }
.bg-orange-500  { background-color: #FF9800; }
.bg-orange-600  { background-color: #FB8C00; }
.bg-orange-700  { background-color: #F57C00; }
.bg-orange-800  { background-color: #EF6C00; }
.bg-orange-900  { background-color: #E65100; }
.bg-orange-A100 { background-color: #FFD180; }
.bg-orange-A200 { background-color: #FFAB40; }
.bg-orange-A400 { background-color: #FF9100; }
.bg-orange-A700 { background-color: #FF6D00; }

/* amber */
.bg-amber-500  { background-color: #FFC107; }
.bg-amber-50   { background-color: #FFF8E1; }
.bg-amber-100  { background-color: #FFECB3; }
.bg-amber-200  { background-color: #FFE082; }
.bg-amber-300  { background-color: #FFD54F; }
.bg-amber-400  { background-color: #FFCA28; }
.bg-amber-500  { background-color: #FFC107; }
.bg-amber-600  { background-color: #FFB300; }
.bg-amber-700  { background-color: #FFA000; }
.bg-amber-800  { background-color: #FF8F00; }
.bg-amber-900  { background-color: #FF6F00; }
.bg-amber-A100 { background-color: #FFE57F; }
.bg-amber-A200 { background-color: #FFD740; }
.bg-amber-A400 { background-color: #FFC400; }
.bg-amber-A700 { background-color: #FFAB00; }

/* teal */
.bg-teal-500  { background-color: #009688; }
.bg-teal-50   { background-color: #E0F2F1; }
.bg-teal-100  { background-color: #B2DFDB; }
.bg-teal-200  { background-color: #80CBC4; }
.bg-teal-300  { background-color: #4DB6AC; }
.bg-teal-400  { background-color: #26A69A; }
.bg-teal-500  { background-color: #009688; }
.bg-teal-600  { background-color: #00897B; }
.bg-teal-700  { background-color: #00796B; }
.bg-teal-800  { background-color: #00695C; }
.bg-teal-900  { background-color: #004D40; }
.bg-teal-A100 { background-color: #A7FFEB; }
.bg-teal-A200 { background-color: #64FFDA; }
.bg-teal-A400 { background-color: #1DE9B6; }
.bg-teal-A700 { background-color: #00BFA5; }

/* green */
.bg-green-500  { background-color: #4CAF50; }
.bg-green-50   { background-color: #E8F5E9; }
.bg-green-100  { background-color: #C8E6C9; }
.bg-green-200  { background-color: #A5D6A7; }
.bg-green-300  { background-color: #81C784; }
.bg-green-400  { background-color: #66BB6A; }
.bg-green-500  { background-color: #4CAF50; }
.bg-green-600  { background-color: #43A047; }
.bg-green-700  { background-color: #388E3C; }
.bg-green-800  { background-color: #2E7D32; }
.bg-green-900  { background-color: #1B5E20; }
.bg-green-A100 { background-color: #B9F6CA; }
.bg-green-A200 { background-color: #69F0AE; }
.bg-green-A400 { background-color: #00E676; }
.bg-green-A700 { background-color: #00C853; }

/* indigo */
.bg-indigo-500  { background-color: #3F51B5; }
.bg-indigo-50   { background-color: #E8EAF6; }
.bg-indigo-100  { background-color: #C5CAE9; }
.bg-indigo-200  { background-color: #9FA8DA; }
.bg-indigo-300  { background-color: #7986CB; }
.bg-indigo-400  { background-color: #5C6BC0; }
.bg-indigo-500  { background-color: #3F51B5; }
.bg-indigo-600  { background-color: #3949AB; }
.bg-indigo-700  { background-color: #303F9F; }
.bg-indigo-800  { background-color: #283593; }
.bg-indigo-900  { background-color: #1A237E; }
.bg-indigo-A100 { background-color: #8C9EFF; }
.bg-indigo-A200 { background-color: #536DFE; }
.bg-indigo-A400 { background-color: #3D5AFE; }
.bg-indigo-A700 { background-color: #304FFE; }

/* yellow */
.bg-yellow-500 { background-color: #FFEB3B; }
.bg-yellow-50  { background-color: #FFFDE7; }
.bg-yellow-100 { background-color: #FFF9C4; }
.bg-yellow-200 { background-color: #FFF59D; }
.bg-yellow-300 { background-color: #FFF176; }
.bg-yellow-400 { background-color: #FFEE58; }
.bg-yellow-500 { background-color: #FFEB3B; }
.bg-yellow-600 { background-color: #FDD835; }
.bg-yellow-700 { background-color: #FBC02D; }
.bg-yellow-800 { background-color: #F9A825; }
.bg-yellow-900 { background-color: #F57F17; }

/* Text Color */
.color-white { color: #FFFFFF; }
.color-black { color: #000000; }
.primary-text { color: #000000; opacity: 0.87; }
.secondary-text { color: #000000; opacity: 0.54; }
.hint-text { color: #000000; opacity: 0.26; }


/* Fill */
/* white */
.fill-white { fill: white; }

/* black */
.fill-black { fill: #000000; }

/* blue-grey */
.fill-blue-grey-500 { fill: #607D8B; }
.fill-blue-grey-50  { fill: #ECEFF1; }
.fill-blue-grey-100 { fill: #CFD8DC; }
.fill-blue-grey-200 { fill: #B0BEC5; }
.fill-blue-grey-300 { fill: #90A4AE; }
.fill-blue-grey-400 { fill: #78909C; }
.fill-blue-grey-500 { fill: #607D8B; }
.fill-blue-grey-600 { fill: #546E7A; }
.fill-blue-grey-700 { fill: #455A64; }
.fill-blue-grey-800 { fill: #37474F; }
.fill-blue-grey-900 { fill: #263238; }

/* grey */
.fill-grey-500 { fill: #9E9E9E; }
.fill-grey-50  { fill: #FAFAFA; }
.fill-grey-100 { fill: #F5F5F5; }
.fill-grey-200 { fill: #EEEEEE; }
.fill-grey-300 { fill: #E0E0E0; }
.fill-grey-400 { fill: #BDBDBD; }
.fill-grey-500 { fill: #9E9E9E; }
.fill-grey-600 { fill: #757575; }
.fill-grey-700 { fill: #616161; }
.fill-grey-800 { fill: #424242; }
.fill-grey-900 { fill: #212121; }

/* brown */
.fill-brown-500 { fill: #795548; }
.fill-brown-50  { fill: #EFEBE9; }
.fill-brown-100 { fill: #D7CCC8; }
.fill-brown-200 { fill: #BCAAA4; }
.fill-brown-300 { fill: #A1887F; }
.fill-brown-400 { fill: #8D6E63; }
.fill-brown-500 { fill: #795548; }
.fill-brown-600 { fill: #6D4C41; }
.fill-brown-700 { fill: #5D4037; }
.fill-brown-800 { fill: #4E342E; }
.fill-brown-900 { fill: #3E2723; }

/* deep orange */
.fill-deep-orange-500  { fill: #FF5722; }
.fill-deep-orange-50   { fill: #FBE9E7; }
.fill-deep-orange-100  { fill: #FFCCBC; }
.fill-deep-orange-200  { fill: #FFAB91; }
.fill-deep-orange-300  { fill: #FF8A65; }
.fill-deep-orange-400  { fill: #FF7043; }
.fill-deep-orange-500  { fill: #FF5722; }
.fill-deep-orange-600  { fill: #F4511E; }
.fill-deep-orange-700  { fill: #E64A19; }
.fill-deep-orange-800  { fill: #D84315; }
.fill-deep-orange-900  { fill: #BF360C; }
.fill-deep-orange-A100 { fill: #FF9E80; }
.fill-deep-orange-A200 { fill: #FF6E40; }
.fill-deep-orange-A400 { fill: #FF3D00; }
.fill-deep-orange-A700 { fill: #DD2C00; }

/* orange */
.fill-orange-500  { fill: #FF9800; }
.fill-orange-50   { fill: #FFF3E0; }
.fill-orange-100  { fill: #FFE0B2; }

/* Original Helper CSS */
.aspectwrapper-1by1 {
 position: relative;
 width:100%;
}
.aspectwrapper-1by1:after {
 padding-top: 100%;
 display: block;
 content: "";
}
.aspectwrapper-1by1 > .content{
 position: absolute;
 top: 0px;
 left: 0px;
 bottom: 0px;
 right: 0px;
}
.aspectwrapper-3by2 {
 position: relative;
 width:100%;
}
.aspectwrapper-3by2:after {
 padding-top: 66%;
 display: block;
 content: "";
}
.aspectwrapper-3by2 > .content{
 position: absolute;
 top: 0px;
 left: 0px;
 bottom: 0px;
 right: 0px;
}

.aspectwrapper-2by3 {
 position: relative;
 width:100%;
}
.aspectwrapper-2by3:after {
 padding-top: 150%;
 display: block;
 content: "";
}
.aspectwrapper-2by3 > .content{
 position: absolute;
 top: 0px;
 left: 0px;
 bottom: 0px;
 right: 0px;
}

.aspectwrapper-16by9 {
 position: relative;
 width:100%;
}
.aspectwrapper-16by9:after {
 padding-top: 56%;
 display: block;
 content: "";
}
.aspectwrapper-16by9 > .content{
 position: absolute;
 top: 0px;
 left: 0px;
 bottom: 0px;
 right: 0px;
}

.aspectwrapper-9by16 {
 position: relative;
 width:100%;
}
.aspectwrapper-9by16:after {
 padding-top: 177.777777%;
 display: block;
 content: "";
}
.aspectwrapper-9by16 > .content{

 position: absolute;
 top: 0px;
 left: 0px;
 bottom: 0px;
 right: 0px;
}